body {
margin: 0;
font-family: Arial, sans-serif;
background: #f2f2f2;
padding: 0;
}


nav {
background: #000;
padding: 15px;
text-align: center;
}


nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}


nav a:hover {
text-decoration: underline;
}


section {
padding: 40px;
max-width: 700px;
margin: auto;
}


.hero h1 {
font-size: 40px;
}


.hero span {
color: #007bff;
}